
/* colors for dropdowns*/

.btn-success {
  color: #ffffff !important;
  background-color: #00b093 !important;
  border-color: #000; 
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  color: #ffffff ;
  background-color: #007A66 !important;
  border-color: #000; 
} 



.btn-warning {
  color: #000 !important;
  background-color: #ffca00 !important;
  border-color: #000; 
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  color: #ffffff !important;
  background-color: #E0B400 !important;
  border-color: #000; 
} 



.btn-danger{
  color: #ffffff !important;
  background-color: #fe3f24 !important;
  border-color: #000; 
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #ffffff ;
  background-color: #CB1901 !important;
  border-color: #000; 
} 



.btn-primary{
  color: #ffffff !important;
  background-color: #505168 !important;
  border-color: #000; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff ;
  background-color: #2C2D3A!important;
  border-color: #000; 
} 
/*


.btn-primary{
  color: #ffffff !important;
  background-color: #5c95ff !important;
  border-color: #000; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff ;
  background-color: #0040B8!important;
  border-color: #000; 
} 


  /* styles below for homepage.js side by side search 
  */
  .columnLeft {
    float: left;
  }


